* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*espaçameno em volta zerado*/
    padding: 0;
    /*resetando*/
    box-sizing: border-box;
    /* Evita que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade */
    list-style: none;
    /*Tiras as bolinhas da lista*/
    text-decoration: none;
    /*tira o Anderline da ancora*/

}

.cabecalho {
    background-color: #000221;
    color: white;
    padding: 1.5rem;
    /*poderia se 24px*/
    /*Alinhamento dos itens*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /*Header fixo*/
    position: sticky;
    /*posicionamneto do header para sobrepor os outros elementos*/
    left: 0;
    top: 0;
    z-index: 999;
    /*eixo z - profundidade do elemento*/
}

/*Logo do header*/
.div-logo img {

    width: 40%;
    /*usando o % para diminuir os tamanho*/
}

/*estilização do botão*/

.div-button a button {

    width: 5rem;
    /*seria 80px*/
    padding: 0.5rem;
    /*seria 8px*/
    background-color: rgb(58, 77, 189);
    border: none;
    font-weight: 700;
    /*espessura da fonte do botão*/
    border-radius: 5px;
    color: white;
}

.section-01 {

    padding: 10rem;
    /*preenchimento intreno da section*/
    background-image: url(imagens/ccfb-finance-4858797_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /*poderiamos usar 32px*/
    flex-wrap: wrap;
    /*isso seguinifica que as div poderão quebrar de linha, caso nescessario*/
}

.div01 {
    background-color: rgba(14, 8, 99, 0.534);
    color: rgb(246, 246, 250);
    /*cor do texto*/
    text-align: center;
    font-weight: bold;
    /*alinhamneto centralizado do texto*/
    font-size: 2rem;
    /*tamanho da letra dentro da caixa*/
    padding: 1rem;
    /*preenchimento da caixa*/
    width: 25%;
    /*largura da caixa em porcentagem*/
    height: 20rem;
    /*altura d acaixa utilizando o REM*/
    min-width: 299px;

}

.div02 {

    padding: 1rem;
    /*preenchimento da caixa*/
    width: 25%;
    /*largura da caixa em porcentagem*/
    height: 20rem;
    /*altura da caixa utilizando o REM*/
    min-width: 299px;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 0.253) 0%, rgba(9, 9, 121, 1) 100%), url(imagens/pexels-blur-1853262_1280.jpg); */
    background-image: url(imagens/Grafico\ Trade\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000221;
    gap: 15px;



}

.ul-div01 li a {
    background-color: #000221;
    color: white;
    padding: 3px;
    font-size: 1.3rem;
    border-radius: 5px;
}

.ul-div01 li {
    margin: 5px 5px;
    /*Alterando em cima e embaixo | alterando os lados do elemento*/
}


.div02 i {

    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;



}

.div02 i:hover {

    color: #efed89;
}

/*Aqui estamos estilizando a tarja em destaque entre as sections*/
.img-div {

    padding: 1%;
    /*preenchimento interno*/
    background-image: url(imagens/textura\ novo.png);
    /*caminho da imagem*/
    background-position: center;
    /*posicionamento da imagem*/
    background-size: cover;
    /*preenchimento total da imagem*/
}

/*Estilizando a segunda section*/
.section-02 {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000221;
    flex-wrap: wrap;
    /*aceita a quebra de caixa ao diminuir o tamanho da pagina*/

}

.caixa button {

    padding: 0.5rem;
    /*preenchimento interno*/
    background-color: #000221;
    /*cor do fundo*/
    color: white;
    /*cor do texto*/
    font-weight: 600;
    /*peso da font*/
    margin: 1rem 0;
    /*espaçamento sup/inf 1rem, e 0 nas laterais*/
}

/*Estilização das 3 div sec 2*/
.caixa {

    width: 25%;
    /*Largura da caixa*/
    height: 22rem;
    /*altura da caixa*/
    background-color:#000221 /*rgb(58, 77, 189)*/;
    /*cor do fundo*/
    min-width: 299px;
    /*largura minima da div*/
    color: white;
    /*cor dos textos*/
    box-shadow: 5px 5px 10px rgb(179, 221, 245);
    cursor: pointer;
    /*ativando cursor pointer*/

    text-align: center;
    
}

.caixa p {

    margin: 0.8rem;
}

.caixa:hover {
    box-shadow: 10px 10px 20px rgb(179, 221, 245);
    background-color: rgb(35, 46, 107);
    /*cor do fundo*/
    transition: 0.8s;

}

.section-03 {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000221;
    flex-wrap: wrap;
    /*aceita a quebra de caixa ao diminuir o tamanho da pagina*/

}

/*chamando as classes primarias para estilização*/
.div03,
.div04 {

    height: 15rem;
    padding: 1rem;
    text-align: center;
}

/*Estilização dos textos da primeira caixa*/
.content-text {
    text-align: center;
    /*alinhado o texto ao inicio padrão*/
    margin-top: 1rem;
    /*espaçamento em torno da caixa*/
    font-weight: 500;
    /*peso da font*/
}

.icon-div03 i {
    font-size: 2.8rem;
    margin-top: 1.3rem;
}

/*Inicio formatação caixa 02 section 03*/
.button-div04 a button {

    padding: 0.5rem;
    /*preenchimento interno*/
    background-color: #000221;
    /*cor do fundo*/
    color: white;
    /*cor do texto*/
    font-weight: 600;
    /*peso da font*/
    margin: 1rem 0;
    /*espaçamento sup/inf 1rem, e 0 nas laterais*/
}

.text-div04 p {}

.section-04 {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #000221;
    flex-wrap: wrap;
    /*aceita a quebra de caixa ao diminuir o tamanho da pagina*/

}

.Linha {
    width: 100%;
    border: 1px solid white
}




/*Iniicio Estilização Rodapé*/
.rodape {
    background-color: #000221;
    /*cor de fundo do rodapé*/
    padding: 2rem;
    /*32px*/
    text-align: center;
    /*alinhado texto ao centro*/
    font-size: 1.1rem;
    /*definindo tamnho do texto*/

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.social-media i {
    padding: 1.5rem;
    font-size: 25px;
}


.social-media li {
    color: white;
    font-size: 2em;
    margin: 0.5em;

}

/*LInha divisoria entre as div principais*/

.line {
    width: 60%; /*Largura da linha*/
    margin: 0.5rem auto; /*Espaçamento em torno da linha superior e inferior (0.5rem) com as laterias automaticas (navegador) */
    background: white;/*cor de fundo da borda*/
    border: none;/*remover as bordas por padrão*/
    height: 2px;/*definir altura da linha*/

}

.div-list ul li a {
    color: white;
    text-decoration: none;
}

.div-list ul li a:hover {

    color: grey;
    transition: 0.8s;
}

.div-list ul li {

    margin-bottom: 1.5rem;


}

@media (max-width: 600px){

    .content { flex-direction: column;
    
}}

.caixa img {

    width: 100%;
    height: 50%;
}

